/*Navbar style*/
.nav {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  min-height: 80px;
  align-items: center;
  flex-wrap: wrap;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.unknown-circle {
  position: absolute;
  left: 0;
  bottom: -38px;
}
.crystal {
  position: absolute;
  right: 0;
  bottom: -42px;
}
.nav-blue-cirlce {
  position: absolute;
  right: -235px;
  bottom: -370px;
}
.nav-brand {
  height: 80px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 2rem;
}
.nav-brand > a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #2b6ff3;
  font-weight: 600;
}
.nav-left,
.nav-right {
  display: block;
}

.nav-menu {
  width: 100%;
  display: block;
  flex-grow: 1;
}
.nav-link,
.nav-item {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
}
.nav-mobile {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.625rem;
  border-bottom: 1px solid rgba(238, 238, 238, 0.479);
}
.nav-menu-button {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.25rem;
}
.nav-link,
.nav-item {
  flex-grow: 1;
}
.nav-link {
  color: #777;
  text-decoration: none;
}
.nav-svg {
  margin-right: 5px;
  margin-top: 4px;
}

.nav-link:hover {
  color: #2b6ff3;
  background-color: #2b6ef30a;
  border-radius: 10px;
  transition: all ease-in-out 300ms;
}
.nav-link.active {
  color: #2b6ff3;
  font-weight: normal;
  background-color: #2b6ef30a;
  border-radius: 10px;
}
.nav-menu-hamburger {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}
@media (min-width: 1024px) {
  .nav-brand {
    height: 80px;
  }
  .nav > .container-fluid {
    width: 100%;
    display: flex;
    align-items: stretch;
  }
  .nav-left,
  .nav-right {
    display: flex;
    align-items: center;
  }
  .nav-right {
    margin-left: auto;
  }
  .nav-left {
    margin-right: auto;
  }
  .nav-menu {
    width: auto;
    display: flex;
    align-items: center;
  }
  .nav-link,
  .nav-item,
  .nav-brand {
    height: 50px;
    display: flex;
    align-items: center;
  }
  .nav-menu-button {
    display: none;
  }
  .nav-mobile {
    width: auto;
    border-bottom: unset;
  }
}
@media (min-width: 1280px) {
  .nav > .container-fluid {
    width: 100%;
    display: flex;
    align-items: stretch;
  }
}
.update-pill {
  color: #5f6368;
  font-size: 14px;
  padding: 10px;
  background: rgba(196, 196, 196, 0.12);
  border-radius: 3px;
}
